<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>删除人员</title>
    <link rel="stylesheet" href="../static/card.css" />
    <link rel="stylesheet" href="../static/index.css" />

</head>
<body>
    <div class="card">
        <div class="card1">
            <div class="card1_item">
                
                <form method="post">
                    <span style="color:aliceblue">id：</span><input type="text" name="Num" required><br>

                    <input type="submit" value="删除">
                    <a href="/">返回</a>
                </form>
            </div>
            
        </div>
        
    </div>
    
</body>
</html>