<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/card.css">

</head>
<body style="background-image: url('/static/login.jpg'); background-size: cover; /* 按比例缩放，保证铺满容器 */ background-position: center; /* 居中显示 */ background-repeat: no-repeat; /* 不重复平铺 */">
    <div class="card">
        <div class="card1" style="opacity:0.5;">
            <h2 >更多功能请登录后继续使用</h2>
        </div>
        <a class="main-btn" href="/dept_login" style="opacity:0.8;">登录</a>
        <a class="main-btn" href="/index" style="opacity:0.8;">返回</a>
        
    </div>
</body>
</html>