<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>添加人员</title>
    <link rel="stylesheet" href="../static/card.css" />
    <link rel="stylesheet" href="../static/index.css" />

</head>
<body>
    <div class="card">
        <div class="card1">
            <div class="card1_item">
                <form method="post">
                    <span style="color:aliceblue">姓名：</span><input type="text" name="name" required><br>

                <input type="submit" value="添加">
                <a href="/">返回</a>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>